# Copie este arquivo para keystore.properties (NÃO commitar)
# Ajuste os valores conforme sua chave
storeFile=./app/my-upload-key.keystore
storePassword=COLOQUE_SUA_SENHA_AQUI
keyAlias=upload
keyPassword=COLOQUE_SUA_SENHA_AQUI
