fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]
python-multipart
argon2-cffi
email-validator
pyotp
qrcode[pil]
pillow
requests
python-dotenv
aiofiles
psycopg2-binary
fastapi-mail[jinja2]
pydantic-settings
mercadopago
firebase-admin